.navbar-default {
  background-color: #337AB7;
  border-color: #286192;
}
.navbar-default .navbar-brand {
  color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFF;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #000;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #FFF;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #000;
}

.panel-featured-item{
  border: 0;
  margin: 1;
  padding: 0;
}

.panel-body-featured{
  margin: 0;
  padding: 0;
}

.thumbnail-featured{
  border: 0;
  margin: 0;
  padding: 0;
}

.section-header{
  font-size: 15pt;
}

.panel-sidebar{
  border: 0;
  border-bottom: 1px;
  border-radius: 0;
}

.panel-sidebar > .panel-heading {
    color: #fff;
    background-color: #000;
    border-color: #000;
    border-radius: 0;
}

.panel-product{
  border: 0;
  margin-bottom: 10px;
}

.panel-product > .panel-heading{
  background-color: #000;
}

.panel-product > .panel-body{
  margin: 10px;
  padding: 0;
}

.panel-product > .panel-body > .thumbnail{
  border: 0;
  margin-bottom: 10px;
  padding: 0;
}

.product-name{
  font-size: 12pt;
  font-weight: bold;
}

.product-name-single{
  font-size: 15pt;
  font-weight: bold;
}

.product-description{
  font-size: 10pt;
}

.product-description-single{
  font-size: 12pt;
}

.panel-footer-custom{
  border: 0;
  margin: 1px;
  background-color: #fff;
}

.panel-footer-custom > .panel-heading{
  background-color: #000;
}
